
.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.userCard {
  width: 200px;
  height: 200px;
  border-radius: 1px;
  border: 1px solid black;
  background-color: rgb(210, 238, 195);
  text-align: left;
  color: rgb(114, 56, 74);
  font-size: 15px;
  margin-left: 50px;
  padding-left: 10px;
  border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
   margin-top: 50px;
 
}
.userCard>button{
  background-color: red;
  color: white;
  padding: 10px;
  border-radius:5px ;
  margin-left: 3px;
  font-weight: bold;

}

.userForm {
  width: 300px;
  min-height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(171, 197, 234);
  color: rgb(53, 71, 235);
  font-size: 15px;
  margin-left: 50px;
  margin-top: 50px;
  padding: 20px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.userForm > input {
  display: block;
  width: 90%;
  box-sizing: border-box;
  margin-bottom: 15px;

  border: 1px solid #777;
  border-radius: 5px;
  background-color: rgb(206, 206, 219);
  color: white;
  padding: 10px;
}
